.wrapper, .row {
  *zoom: 1; }
  .wrapper:before, .row:before, .wrapper:after, .row:after {
    content: " ";
    display: table; }
  .wrapper:after, .row:after {
    clear: both; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0px 10px 0px 10px; }

[class*='column-'] {
  float: left;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 60em) {
  .wrapper {
    width: 95%;
    max-width: 1290px; }

  .column-1 {
    width: 8.33333%; }

  .wrapper {
    padding: 0; }

  .column-2 {
    width: 16.66667%; }

  .wrapper {
    padding: 0; }

  .column-3 {
    width: 25%; }

  .wrapper {
    padding: 0; }

  .column-4 {
    width: 33.33333%; }

  .wrapper {
    padding: 0; }

  .column-5 {
    width: 41.66667%; }

  .wrapper {
    padding: 0; }

  .column-6 {
    width: 50%; }

  .wrapper {
    padding: 0; }

  .column-7 {
    width: 58.33333%; }

  .wrapper {
    padding: 0; }

  .column-8 {
    width: 66.66667%; }

  .wrapper {
    padding: 0; }

  .column-9 {
    width: 75%; }

  .wrapper {
    padding: 0; }

  .column-10 {
    width: 83.33333%; }

  .wrapper {
    padding: 0; }

  .column-11 {
    width: 91.66667%; }

  .wrapper {
    padding: 0; }

  .column-12 {
    width: 100%; }

  .wrapper {
    padding: 0; } }
@font-face {
  font-family: apercu-light;
  src: url(../fonts/apercu_light_pro.otf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: apercu-medium;
  src: url(../fonts/apercu_medium_pro.otf);
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: apercu-bold;
  src: url(../fonts/apercu_bold_pro.otf);
  font-weight: 700;
  font-style: normal; }

body {
  font-family: apercu-medium; }

a {
  color: inherit;
  text-decoration: none; }

.centered {
  text-align: center; }

.title1 {
  font-family: apercu-bold;
  padding: 100px 0;
  color: #9c9c9c;
  background: -webkit-linear-gradient(white, whitesmoke);
  background: -moz-linear-gradient(white, whitesmoke);
  background: -ms-linear-gradient(white, whitesmoke);
  background: -o-linear-gradient(white, whitesmoke);
  background: linear-gradient(white, whitesmoke);
  font-size: 17pt; }
  .title1 .dark {
    color: #353535; }

.title2 {
  font-family: apercu-bold;
  padding: 100px 0;
  color: #353535;
  background: white;
  font-size: 15pt; }
  .title2 h2 {
    padding-top: 30px; }
  .title2 .button {
    display: inline; }

.title3 {
  background: url(../img/bkg2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  font-family: apercu-bold;
  padding: 100px 0;
  color: white;
  font-size: 15pt;
  -webkit-box-shadow: 0 5px 27px black inset;
  -moz-box-shadow: 0 5px 27px black inset;
  -ms-box-shadow: 0 5px 27px black inset;
  -o-box-shadow: 0 5px 27px black inset;
  box-shadow: 0 5px 27px black inset;
  position: relative; }
  .title3 h2 {
    padding-top: 30px; }
  .title3 .button {
    display: inline; }

.button {
  cursor: pointer;
  padding: 0.6em 2.7em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em; }
  .button.outline {
    border: 2px solid; }
    .button.outline:hover {
      border: 2px solid #01d31b;
      color: white;
      background-color: #01d31b; }
  .button.colored {
    color: white; }
    .button.colored.red {
      background-color: #bf0000; }
      .button.colored.red:hover {
        background-color: #a40c0c; }
    .button.colored.green {
      background-color: #01d31b; }
      .button.colored.green:hover {
        background-color: #03be1a; }
  .button.small {
    font-size: 15pt; }
  .button.large {
    font-size: 18pt;
    letter-spacing: 0.02em; }

@media only screen and (min-width: 60em) {
  div.align-right {
    text-align: right; } }
header {
  color: #353535; }
  header h1, header h2, header h3 {
    max-width: 900px; }
  header.regular-background {
    background: url(../img/bkg1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  header.blurred-background {
    background: url(../img/bkg1blur.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  header .logo {
    padding-top: 22px; }
    header .logo img {
      width: 153px; }
  header .login {
    padding-top: 30px;
    font-size: 13pt; }
    header .login div {
      display: inline; }
    header .login .label {
      padding-right: 15px; }
  header h1 {
    font-family: apercu-bold;
    padding-top: 100px;
    font-size: 35pt; }
  header h3 {
    font-family: apercu-light;
    padding-top: 15px;
    font-size: 15pt; }
  header .register .button {
    float: left; }
  header .arrow {
    padding: 150px 0 60px 0; }
  @media only screen and (max-width: 60em) {
    header .login div {
      float: left; }
      header .login div.label {
        margin-top: 22px; }
      header .login div.button {
        margin-top: 10px; } }

.main {
  background: -webkit-linear-gradient(white, whitesmoke);
  background: -moz-linear-gradient(white, whitesmoke);
  background: -ms-linear-gradient(white, whitesmoke);
  background: -o-linear-gradient(white, whitesmoke);
  background: linear-gradient(white, whitesmoke);
  padding: 50px 0; }
  .main .circle {
    color: white;
    border: 15px solid;
    height: 200px;
    width: 200px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    right: 50%;
    margin-right: -100px;
    position: absolute;
    top: 50%;
    margin-top: -100px;
    padding: 10px 0 0 55px;
    font-size: 90pt;
    font-family: apercu-bold; }
  .main .text-container {
    color: #353535;
    min-height: 400px; }
    .main .text-container h1 {
      font-family: apercu-bold;
      font-size: 42pt; }
    .main .text-container h2 {
      font-size: 19pt;
      margin: 12px 0; }
    .main .text-container p {
      font-family: apercu-light;
      font-size: 13.5pt;
      line-height: 1.4em; }
  .main .image-container {
    height: 400px;
    min-width: 400px;
    position: relative;
    overflow: hidden; }
    .main .image-container img {
      height: 400px !important;
      position: absolute;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      border-radius: 100%;
      position: absolute;
      left: 50%;
      margin-left: -200px; }
  @media only screen and (min-width: 60em) {
    .main .equal-height {
      position: relative; }
      .main .equal-height .text-container {
        padding: 75px 0 0 20px; }
      .main .equal-height .image-container {
        position: absolute;
        top: 50%;
        margin-top: -200px; }
      .main .equal-height.text-right .text-container {
        float: right; }
      .main .equal-height.image-right .image-container {
        right: 0; }
      .main .equal-height.image-right .text-container {
        padding: 75px 15px 0 0; } }
  @media only screen and (max-width: 60em) {
    .main .text-container {
      text-align: center; }
    .main .image-container {
      height: 320px;
      min-width: 320px; }
      .main .image-container img {
        height: 320px !important;
        position: absolute;
        left: 50%;
        margin-left: -160px; }
    .main .wrapper {
      padding: 0; } }

footer {
  color: #686868;
  background-color: #222222; }
  footer h1 {
    font-size: 20pt;
    margin: 85px 0 40px 0; }
  footer p {
    padding: 3px 0;
    font-family: apercu-light;
    font-size: 13.5pt; }
  footer font.bold {
    font-family: apercu-bold; }
  footer font.underlined {
    border-bottom: 2px solid #424242; }
    footer font.underlined:hover {
      color: #9f9f9f;
      border-bottom: 2px solid #9f9f9f; }
  footer .bottom {
    margin: 175px 0 40px;
    font-family: apercu-light;
    font-size: 13.5pt; }
  footer img:hover {
    filter: brightness(160%); }
  @media only screen and (max-width: 60em) {
    footer img {
      margin-right: 20px; } }
  @media only screen and (min-width: 60em) {
    footer img {
      display: block;
      margin-bottom: 20px; } }

.register {
  padding: 35px 0; }
  .register h1 {
    font-size: 35pt;
    max-width: 600px;
    padding-top: 40px; }
  .register .paragraph {
    margin: 10px 0; }
    .register .paragraph p {
      font-family: apercu-light;
      font-size: 14pt;
      line-height: 2.2em; }
      .register .paragraph p .bold {
        font-family: apercu-bold; }
  .register form {
    font-size: 13pt;
    padding: 40px 35px;
    color: black;
    background-color: white;
    -webkit-box-shadow: 5px 5px 18px #b3b3b3;
    -moz-box-shadow: 5px 5px 18px #b3b3b3;
    -ms-box-shadow: 5px 5px 18px #b3b3b3;
    -o-box-shadow: 5px 5px 18px #b3b3b3;
    box-shadow: 5px 5px 18px #b3b3b3;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    .register form label {
      line-height: 2em; }
    .register form input {
      border: none;
      border-bottom: 2px solid;
      width: 100%;
      font-family: apercu-light;
      font-size: 13pt; }
      .register form input:focus {
        color: #01d31b; }
      .register form input.error {
        color: #bf0000; }
    .register form #submit {
      font-size: 15pt;
      letter-spacing: 0.05em;
      display: inline;
      float: none; }

ul.ui-autocomplete {
  max-height: 300px;
  overflow-y: scroll;
  font-family: apercu-light;
  font-size: 11pt;
  line-height: 1.8em;
  background: white;
  border: 1px solid #9c9c9c;
  width: 100px;
  list-style-type: none; }
  ul.ui-autocomplete li.ui-state-focus {
    background-color: whitesmoke; }

.transition {
  left: 0;
  -webkit-transition: left 1s, opacity 1s ease-in-out;
  -moz-transition: left 1s, opacity 1s ease-in-out;
  -ms-transition: left 1s, opacity 1s ease-in-out;
  -o-transition: left 1s, opacity 1s ease-in-out;
  transition: left 1s, opacity 1s ease-in-out; }
  .transition.move-right {
    left: -200px;
    opacity: 0; }
  .transition.move-left {
    left: 200px;
    opacity: 0; }
  .transition.fade-in {
    opacity: 0; }
