// grid variables
$grid-columns: 12;
$grid-max-width: 966px;

// breakpoints
$breakpoint-small: "only screen and (min-width: 30em)";
$breakpoint-medium: "only screen and (min-width: 50em)";

//styling variables
$header-background: black;
$body-background: #A5A5A5;
$border-radius: 5px;
//animations
$animation-time: .5;
